
.table_index {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;

  .table_index_container {
    flex: 1;
    display: flex;
    overflow: auto;

    .table-wrapper {
      padding: 15px;
      background-color: $--color-white;
    }
  }

}