.form-render {
  .el-card {
    margin-bottom: 18px;

    .el-card__body {
      padding: 15px 0px;
    }

    .el-card__header {
      font-size: $--font-size-medium;
      font-weight: $--font-weight-primary;
    }
  }

}

.form-render--inline {
  .el-input, .el-textarea {
    width: 200px;
  }

  .field_single_line {
    display: block;

    .el-input, .el-textarea {
      width: 600px;
    }
  }
}