@import "../../styles/var";

.header {
  background: $--header-background;
  height: $--header-height !important;
  vertical-align: middle;

  .header-content {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    overflow: auto;

    .header-middle {
      display: flex;
      flex: 1;
      overflow: hidden;
    }

    .header-right {
      margin-left: auto;
    }

    .title {
      margin-right: 20px;
      font-size: $--font-size-large;
    }
  }
}
