.table-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  .render-table {
    flex: 1;
    overflow: auto;
  }

  .el-pagination {
    margin-top: 10px;
    text-align: right;
  }
}