::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 6px;
    height: 8px
}

::-webkit-scrollbar-track {
    background-color: inherit
}

::-webkit-scrollbar-thumb {
    background-color: #B6B6B6;
    border: 1px solid #fff;
    border-radius: 4px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9d9d9d;
}

::-webkit-scrollbar-thumb:active {
    background-color: #838383
}

::selection {
    background: #d7dbf0
}

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    scrollbar-width: thin;
    scrollbar-base-color: #9d9d9d;
}

html,
body {
    height: 100%;
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all .5s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}
