@import "../../styles/var";

.header {
  /**
头部样式参数
 */

  $--header-background: linear-gradient(to right, $--color-primary-dark-1 0%, $--color-primary 100%) !default;

  background: $--header-background;
  vertical-align: middle;
  height: $--header-height !important;

  .header-content {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    overflow: auto;

    .header-middle {
      display: flex;
      flex: 1;
      overflow: hidden;
    }

    .header-right {
      margin-left: auto;
    }

    .title {
      margin-right: 20px;
      font-size: $--font-size-large;
    }
  }
}
