.header {
  /**
头部样式参数
 */
  $--header-height: 64px !default;

  $--header-background: #{$--color-primary} !default;

  background: $--header-background;
  vertical-align: middle;
  height: $--header-height !important;

  .header-content {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    overflow: auto;

    .header-middle {
      display: flex;
      flex: 1;
      overflow: hidden;
    }

    .title {
      margin-right: 20px;
      font-size: $--font-size-extra-large;
    }
  }
}
