.root {
  height: 100%;
  overflow: auto;

  .left {
    padding: 0px
  }

  .main {
    overflow: auto;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .main-container {
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex: 1;
      padding: 10px 15px;

      .index_main {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: auto;
        padding: 15px;
        background-color: $--color-white;

        .table-container {
          flex: 1;
          overflow: auto;
        }

        .el-pagination {
          text-align: right;
          margin-top: 10px;
        }

        .form_detail {
          .el-form-item {
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}


