/**
//TODOless 和scss 相互冲突，将来再想办法
下面大部分变量都是从
@import "~element-ui/packages/theme-chalk/src/common/var.scss";
引进来的
 */
$--color-primary-dark-1: mix($--color-black, $--color-primary, 10%) !default;
$--color-primary-dark-2: mix($--color-black, $--color-primary, 20%) !default;
$--color-primary-dark-3: mix($--color-black, $--color-primary, 30%) !default;
$--color-primary-dark-4: mix($--color-black, $--color-primary, 40%) !default;
$--color-primary-dark-5: mix($--color-black, $--color-primary, 50%) !default;
$--color-primary-dark-6: mix($--color-black, $--color-primary, 60%) !default;
$--color-primary-dark-7: mix($--color-black, $--color-primary, 70%) !default;
$--color-primary-dark-8: mix($--color-black, $--color-primary, 80%) !default;
$--color-primary-dark-9: mix($--color-black, $--color-primary, 90%) !default;
/**
这里是头部菜单变量，注意变量顺序，顺序不同会覆盖变量
 */
//文字选中颜色
$menu-dark-highlight-color: $--color-white !default;
//鼠标悬停颜色
$menu-dark-item-hover-bg: $--color-primary-dark-3 !default;
//菜单选中颜色
$menu-dark-item-active-bg: $--color-primary-dark-4 !default;
//菜单主要背景颜色
$menu-dark-bg: $--color-primary !default;
//菜单文字颜色
$menu-dark-color: $--color-primary-light-9 !default;

$menu-item-boundary-margin: 4px;