.header {
  background: $--header-background;
  vertical-align: middle;
  height: $--header-height !important;

  .header-content {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    overflow: auto;

    .header-middle {
      display: flex;
      flex: 1;
      overflow: auto;
    }

    .title {
      margin-right: 20px;
      font-size: 24px;
    }
  }
}
